/* Regole generali di formattazione */

* {
    box-sizing: border-box;
    margin: 0;

}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

/* Formattazione dell'Header e delle sue parti: Top/Bottom */

header {width: 100%;
       background-image: url(img/pattern.png);
       display: inline-block;
}

.header-top {
    background-color: rgba(48, 48, 252, 0.274);
}

header, .header-top {
    height: 120px;
}

header img {
    width: 11%;
    margin-top: 40px;
    margin-left: 10px;
}

.header-top, .header-bottom, table {
    width: 100%;
}

/* Stile Titolo Principale */

h1 {
    font-size: 50px;
    font-family: 'Young Serif', serif;
}

.text-lightblue {
    color: rgb(119, 195, 221);
    display: inline-block;
    font-size: large;
}

.data {
    font-size: 12px;
}

/* Minisezione Foto iniziali */

.photocredits {
    font-size: 12px;
    font-weight: bold;
}

.top-photogallery {
    margin-top: 20px;
}
/* Stili testi principali */

.marker {
    background-color: yellow;
}

.paragraph, table {
     margin-top: 15px;
     margin-bottom: 15px;
}

/* Regole di stile della Table */

thead, .caption {
    color: white;
    font-weight: bold;
}
.table-color, thead {
    background-color: rgb(77, 172, 204);
}

.column1-2 {
    width: 20%;
}
.column3 {
    width: 60%;
}

/* Stili del footer  */

footer > h4 {
    color: grey;
    font-weight: bold;
}

.photocard {
    width: 300px;
    height: 200px;
    background-size: cover;
    margin: 10px;
}

.caption {
    padding: 25px;
    font-size: 25px;
}

.img1 {
    background-image: url(img/monitor.jpg);
}

.img2 {
    background-image: url(img/graph.jpg);
}
